# Exclude all
/*
/.config/**/*

# Include desired files
!.gitignore
!.zshrc
!.pyrc
!.config/i3status/config
!.config/i3/config

# Include desired folders
!/Scripts
!/Templates
!/.config/nvim/**/*
!/.config/.nvim/**/*
!.nvimConfigs/
!.vscodeCProj/
!/.config/nvim/init.lua
!/.config/nvim/lua/*
